:root {
    --font:  "Roboto", serif;
    --dark-color: #1f2937;
    --hero-font-size: 48px;
    --text-color: #f9faf8;
    --bold-text: 900;
    --secondary-text-color: #e5e7eb;
    --secondary-text-size: 18px;
    --header-text-size: 24px;
    --button-color: #3882f6;
    --information-text-size: 36px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* ==== main ==== */

main {
    font-family: var(--font);
}

/* hero */


.hero {
    height: 80vh;
    font-family: var(--font);
    background-color: var(--dark-color);
    padding: 1em 10em 9em 10em;
    display: flex;
    flex-direction: column;
    gap: 6em;
}

#lane-logo {
    width: 100px;
}

/* navlinks */

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1em; */
}

.nav-links h1 {
    font-size: var(--header-text-size);
    color: var(--text-color);
}

.nav-links ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-links ul li a {
    color: var(--text-color);
    text-decoration: none;
}

/* content */

.content {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    color: var(--text-color);
    /* border: 1px solid red; */
}

.content aside {
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.content aside h1 {
    font-size: var(--hero-font-size);
    color: var(--text-color);
    font-weight: var(--bold-text);
}

.content aside p {
    font-size: 1.2rem;
    width: 550px;
}

.content img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border: 2px solid rgb(0, 255, 128);
    border-radius: 5px;
}

.content aside button{
    background-color: var(--button-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--secondary-text-size);
    padding: 1.2em 1em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    margin-top: 2em;
    font-weight: 600;
}

.content aside button:hover {
    background-color: #5189e2;
    color: var(--secondary-text-color);
}

/* information */

.information {
    padding: 4em 10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.information h1 {
    font-size: var(--information-text-size);
    color: var(--dark-color);
    font-weight: var(--bold-text);
    margin-bottom: 1em;
}

.information .info-cards {
    display: flex;
    gap: 3em;
}

.information .info-cards .cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.2rem;
    text-align: center;
    /* border: 1px solid red; */
}

.information .cards p {
    width: 300px;
}

.information .cards img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid var(--button-color);
    border-radius: 20px;
}

/* quote */

.quote {
    padding: 3em 9em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 300;
    background-color: rgb(219, 218, 218) ;
    /* text-emphasis: 10px; */
}

/* footer */
.call-to-action {
    padding: 8em 20em;
    display: flex;
}

.call-to-action .cta-content {
    width: 100%;
    background-color: rgb(0, 151, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 4em 8em;
    border-radius: 1em;
}

.call-to-action .cta-content p {
    font-size: 1.2rem;
}

.call-to-action .cta-content h2 {
    line-height: 2;
}

.call-to-action .cta-content button {
    border: 2px solid #fff;
    border-radius: .5rem;
    background-color: transparent;
    width: 150px;
    height: 50px;
    color: #fff;
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.2em;
}

/* footer */

footer {
    background-color: var(--dark-color);
    padding: 1.3em;
    height: 80px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}